# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Add this to avoid saturating repo with metadata
.metadata/
Ej0_blinky/
Practica_1.1/Drivers/
Practica_1.2/Drivers/
Practica_1.1/Debug/
Practica_1.2/Debug/
Ejercicio_delayNB_1/
Practica_1.1/Practica_1.1.launch
Practica_1.2/Practica_1.2.launch
Practica_1.2.array/Practica_1.2.launch
Practica_1.2.array/Drivers/
Practica_1.2.array/Debug/
